In [1]:
# primitives
int1 = 4 # Don't do things like x = 1
int2 = 5

In [4]:
print(int1 + int2) # Ways of debugging values
int1 + 42 # Last operation is displayed

9

46

In [12]:
import os as os
wk_dir = os.getcwd() # Get current working directory
wk_dir

'c:\\1Shool\\Current\\ScriptingAndAutomation\\Week1'

In [17]:
# Use single or double quotes as long as they are consistent
path = 'c:/1Shool/Current/ScriptingAndAutomation'

someVariable = "I don't care"
os.chdir(path)

new_wk_dir = os.getcwd()
new_wk_dir

'c:\\1Shool\\Current\\ScriptingAndAutomation'

In [21]:
os.chdir('c:\\1Shool\\Current\\ScriptingAndAutomation\\Week1')

In [23]:
type(path)

str

In [27]:
# Display var types for my sanity
print(type(int1))
print(type(0.02))

<class 'int'>
<class 'float'>

In [28]:
flt =-3.3
abs(flt) # Absolute value

3.3

In [29]:
int1 + int(flt) # Vars can be cast

1

In [30]:
pow(int1, int2) # Raise int1 to the power of int2

1024

In [33]:
bin(int2)

'0b101'

In [36]:
def foo():
    return 41 + 1

# Call function
foo()

print(2 + foo())

44

In [37]:
range(0, 3)

range(0, 3)

In [38]:
# Zero index excluding last number
for iCount in range(3):
    print(iCount)

0
1
2

In [40]:
# Left param inclusive, right param exclusive
for iCount in range(1, 5):
    print(iCount)

1
2
3
4

In [43]:
# Tuples will contain objects, and objects can contain objects
# Fixed length
# Immutable
# Zero indexed

tup = (1, 2, 3, 42)
for myValue in tup:
    print(myValue)

newTup = (tup, 69, "haha very funny")
for thing in newTup:
    print(thing)

1
2
3
42

In [50]:
type(newTup[0]) # Access by ordinal position

tuple

In [58]:
# Lists []
# mutable
# variable length
# zero indexed
# contain other objects

list1 = [1, 2, 3, 42, tup, 'Something', [1234]]

for thingy in list1:
    print(thingy)

print(type(list1[6]))

1
2
3
42
(1, 2, 3, 42)
Something
[1234]
<class 'list'>

In [64]:
# Dictionary (key pair)
# Key:Value pair
# Values are objects
# Modify, delete, insert, etc.
# Keys are immutable

d1 = {
    'name': 'Bob',
    'age': 42,
    'eyes': ('Blue', 'Green')
    }

print(type(d1.keys()))

<class 'dict_keys'>

In [66]:
# Display all values
print(d1.values())

dict_values(['Bob', 42, ('Blue', 'Green')])

In [75]:
# Change values by keyname
d1["name"] = "asdflkjflkdj"
d1["name"]

# Add key:value pair
d1["thingy"] = "thing"
d1["thingy"]

'thing'

In [76]:
# Sets
# Unordered collection of unique elements

set1 = set([1, 2, 3, 4, 5])
set1

{1, 2, 3, 4, 5}

In [79]:
s = t = u = z = "something"

In [80]:
a, b, c = 1, 2, 3

def fii():
    return 1, 'asdfghjkl;', 3

a, b, c = fii()

print(b)

asdfghjkl;

In [81]:
# Slicing
my_val = "Anything here is a string!*"

In [99]:
print(my_val[2]) # Get char at pos 2
print(my_val[-1]) # Get char from the last position in string
print(my_val[-2]) # Get second to last char from string
print(my_val[1:5]) # Get string from first(inclusive) to last(exclusive)
print(len(my_val))

print(my_val[::2]) # every other char in this slice

y
*
!
nyth
27
An

In [101]:
print(my_val.find('here'))
print(my_val[9:]) # Start at position 9 and go to the end

9
here is a string!*

In [104]:
my_colors = "blue green red"
my_colors = my_colors.replace('red', 'pink')
print(my_colors)

blue green pink

In [106]:
# Slice lists
my_list = [1, 2, 3, 4, 5]
my_fruits = ["Apple", "Banana", "Cherry", "Peach"]
print(my_fruits[::-1])

['Peach', 'Cherry', 'Banana', 'Apple']

In [108]:
print('*!' * 50)

*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!*!

In [111]:
list1 = [1,2,3,4,5,6]
list2 = list1 # Reference
list2 = list1.copy() # Copy
list2[0] = 42
list1

[1, 2, 3, 4, 5, 6]

In [119]:
questions = [("q1", 1972), ('Q2', 1962), ('Q3', 2025)]
print(questions[0])
print(questions[0][0])

('q1', 1972)
q1